<settings>
<category label="Basic">
    <setting id="minutes.before" label="Minutes Before" type="number" default="1"  />
    <setting id="minutes.after" label="Minutes After" type="number" default="1"  />

    <setting id="task.scheduler" label="Use Task Scheduler on Windows" type="bool" default="false"  />

    <setting id="recordings" label="Recordings Folder" type="folder" default="special://temp"/>
    <setting id="ffmpeg" label="ffmpeg exe" type="file" default="ffmpeg"/>
    <setting id="python" label="python(w) exe" type="file" default="python"  />

    <setting id="external.player" label="External Player" type="file" default="ffplay"  />
    <setting id="external.player.args" label="External Player Arguments" type="text" default="-fs"  />

    <setting id="debug" label="Debugging Menu Items" type="bool" default="false"  />

    <setting id="external.m3u" label="External m3u" type="enum" default="None" values="None|File|Url" />
    <setting id="external.m3u.file" label="External m3u File" type="file" default=""/>
    <setting id="external.m3u.url" label="External m3u Url" type="text" default=""/>
</category>
</settings>