<settings>

<category label="Display">

    <setting id="show.skin" label="Show Create Estuary (IPTV Recorder) skin" type="bool" default="true" />

    <setting id="show.finished" label="Show Finished Programmes" type="bool" default="true" />
    <setting id="sort.channels" label="Sort Channels by Name" type="bool" default="true" />

    <setting type="sep"/>
    <setting id="multiline" label="Show Items on Two Lines" type="bool" default="false" />
    <setting id="hide.channel.name" label="Hide Channel Names if Logo Exists" type="bool" default="false" />
    <setting id="show.categories" label="Show Categories" type="bool" default="false" />

    <setting type="sep"/>
    <setting id="refresh" label="Refresh Folder on Context Menu Commands (might hang!)" type="bool" default="false" />

    <setting type="sep"/>
    <setting id="scroll.now" label="Scroll to Now in Channel Listing" type="bool" default="true" />
    <setting id="scroll.ms" label="Scroll Timeout (msec)" type="number" default="2000" />

    <setting type="lsep" label="Look in your skin/xml/MyVideoNav.xml &lt;view&gt;&lt;/view&gt;"/>
    <setting type="lsep" label="Wide List is 51 in Confluence, 55 in Estuary. "/>
    <setting id="view.mode" label="Force View Mode id" type="number" default="" />

    <setting type="sep"/>
    <setting id="show.now.next.hide.empty" label="Hide Channels Without Now/Next Programs" type="bool" default="false" />
    <setting id="show.now.next.all" label="Show Now/Next in All Channels / Full EPG" type="bool" default="false" />
    <setting id="show.now.next.lists" label="Show Now/Next in Channel Lists" type="bool" default="false" />
    <setting id="show.now.next.favourites" label="Show Now/Next in Favourites" type="bool" default="true" />

    <setting type="sep"/>
    <setting id="add.favourite.channel" label="Add Channel to Favourites when Visited" type="bool" default="true" />
    <setting id="add.context.searches" label="Add Context Searches to Search Lists" type="bool" default="true" />

    <setting type="sep"/>
    <setting id="meta" label="Meta4kodi or fork" type="addon" addontype="xbmc.python.pluginsource" default="plugin.video.meta" />
</category>

<category label="Jobs and Rules">

    <setting type="sep"/>
    <setting id="recordings" label="Kodi Recordings Folder" type="folder" option="writeable" default="special://temp"/>
    <setting id="ffmpeg.pipe" label="pipe ffmpeg output through Kodi (for network folders)" type="bool" default="true"/>
    <setting id="ffmpeg.recordings" label="ffmpeg Recordings Folder (if different than Kodi path)" type="text" default="" visible="eq(-1,false)"/>

    <setting type="sep"/>
    <setting id="filename.urlencode" label="Url Encode Whole Filename" type="bool" default="false" />
    <setting id="json" label="Create json File" type="bool" default="true" />

    <setting type="sep"/>
    <setting id="ffmpeg" label="ffmpeg exe" type="file" default=""/>
    <setting id="ffmpeg.last" label="ffmpeg exe" type="file" default="" visible="false"/>
    <setting id="ffmpeg.reconnect" label="ffmpeg reconnect arguments" type="bool" default="true"/>
    <setting id="ffmpeg.args" label="Optional extra ffmpeg arguments" type="text" default=""/>
    <setting id="ffmpeg.ext" label="ffmpeg file extension (ts is recommended)" type="text" default="ts"/>

    <setting type="lsep" label="($p full path, $d recording directory, $f base filename)"/>
    <setting id="post.command" label="Post-processing command " type="text" default=""/>

    <setting type="sep"/>
    <setting id="minutes.before" label="Minutes Before" type="number" default="1"  />
    <setting id="minutes.after" label="Minutes After" type="number" default="1"  />

    <setting type="sep"/>
    <setting id="silent" label="Silent Notifications" type="bool" default="false"  />
</category>

<category label="Data">
    <setting type="sep"/>
    <setting id="external.xmltv.1" label="External xmltv 1" type="enum" default="IPTV Simple Client" values="IPTV Simple Client|File|Url" />
    <setting id="external.xmltv.file.1" label="External xmltv File 1" visible="eq(-1,1)" type="file" default=""/>
    <setting id="external.xmltv.url.1" label="External xmltv Url 1" visible="eq(-2,2)" type="text" default=""/>

    <setting type="sep"/>
    <setting id="external.m3u.1" label="External m3u 1" type="enum" default="IPTV Simple Client" values="IPTV Simple Client|File|Url" />
    <setting id="external.m3u.file.1" label="External m3u File 1" visible="eq(-1,1)" type="file" default=""/>
    <setting id="external.m3u.url.1" label="External m3u Url 1" visible="eq(-2,2)" type="text" default=""/>
    <setting id="external.m3u.shift.1" label="External m3u Time Shift 1 (hours)" type="slider" default="0" range="-12,.5,12" option="float"/>

    <setting type="sep"/>
    <setting id="external.xmltv.2" label="External xmltv 2" type="enum" values="None|File|Url" />
    <setting id="external.xmltv.file.2" label="External xmltv File 2" visible="eq(-1,1)" type="file" default=""/>
    <setting id="external.xmltv.url.2" label="External xmltv Url 2" visible="eq(-2,2)" type="text" default=""/>

    <setting type="sep"/>
    <setting id="external.m3u.2" label="External m3u 2" type="enum" values="None|File|Url" />
    <setting id="external.m3u.file.2" label="External m3u File 2" visible="eq(-1,1)" type="file" default=""/>
    <setting id="external.m3u.url.2" label="External m3u Url 2" visible="eq(-2,2)" type="text" default=""/>
    <setting id="external.m3u.shift.2" label="External m3u Time Shift 2 (hours)" type="slider" default="0" range="-12,.5,12" option="float"/>

    <setting type="sep"/>
    <setting id="m3u.regex.search" label="m3u Url Regex Search" type="text" default=""/>
    <setting id="m3u.regex.replace" label="m3u Url Regex Replace" type="text" default=""/>

    <setting type="sep"/>
    <setting id="xmltv.title.regex.search" label="xmltv Title Regex Search (eg \[.*?\])" type="text" default=""/>
    <setting id="xmltv.title.regex.replace" label="xmltv Title Regex Replace" type="text" default=""/>

</category>

<category label="Service">
    <setting id="service.delay.seconds" label="Startup Delay (seconds)" type="number" default="60"/>
    <setting id="service" label="Background Service" type="bool" default="true" />
    <setting id="service.startup" label="Update on Login" type="bool" default="true" visible="eq(-1,true)"/>
    <setting id="service.type" label="Service Schedule Type" type="enum" default="Period" visible="eq(-2,true)" values="None|Period|Time" />
    <setting id="service.interval" label="Interval (hours)" type="number" default="6"  visible="eq(-3,true)+eq(-1,1)" />
    <setting id="service.time" type="time" label="Service Time" default="03:33" visible="eq(-4,true)+eq(-2,2)"/>
</category>

<category label="Scheduler">
    <setting type="lsep" label="Watch Timers require External Player (set in Playback)"/>
    <setting id="task.scheduler" label="Use Task Scheduler on Windows" type="bool" default="false"  />
    <setting id="python" label="python(w) exe" type="file" default="pythonw.exe"  />
</category>

<category label="Playback">
    <setting id="external.player.watch" label="Use External Player for Watch Timers" type="bool" default="false"  />
    <setting id="external.player" label="External Player (eg ffplay)" type="file" default=""  />
    <setting id="external.player.args" label="External Player Arguments" type="text" default="-fs"  />
</category>

<category label="Debug">
    <setting id="debug" label="Debugging Menu Items" type="bool" default="false"  />
	<setting type="lsep" label="NOTE: This will prevent recording. Only use it for debugging."/>
    <setting id="debug.ffmpeg" label="Debug ffmpeg stdout/stderr" type="bool" default="false"  />
</category>



</settings>